<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038823502467-d31q6cqaceamhop1qbuktthfqcunjrcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038823502467-d31q6cqaceamhop1qbuktthfqcunjrcr</string>
	<key>API_KEY</key>
	<string>AIzaSyCEO5euVG2JGcIEZMJ6yRYeFBTt3D8watA</string>
	<key>GCM_SENDER_ID</key>
	<string>1038823502467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.UIKitFastImage</string>
	<key>PROJECT_ID</key>
	<string>uikit-test-669b0</string>
	<key>STORAGE_BUCKET</key>
	<string>uikit-test-669b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038823502467:ios:d8c01ee53fdbbfc3b9a1b6</string>
</dict>
</plist>